<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	<title>MovieList</title>
	<meta http-equiv="Content-Type" content="text/html" charset="ISO-8859-1">
	<script type="text/javascript" src="webjars/jquery/3.1.0/jquerymin.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<title>Insert title here</title>

</head>
<body>
	<div class="container">
		<div>
		<h1>Movie database</h1>
		
		
		</div>
	<div class="col-md-4 ">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<ul class="nav nav-pills nav-fill">
		  <li class="nav-item">
		    <a class="nav-link " href="/playlist" ><button class="btn btn-success">Playlist</button> </a>
		  </li>
		   <li class="nav-item">
		    <a class="nav-link" href="/latest"><button class="btn btn-success">latest</button></a>
		  </li>
		   <li class="nav-item">
		    <a class="nav-link" href="/upcoming"><button class="btn btn-success">upcoming</button></a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/add"><button class="btn btn-success">add new movie</button></a>
		  </li>
		  
		  
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
				</form>
		
			
		  
		 
	</ul>
		<div class="row align-items-center justify-content-center">
	
			
			
			<div class="container">
				<div class="card">
					<div class="card-block">
					<table class="table  table-bordered table-hover table-striped">
						<thead class="thead-dark">
							<tr>
						    <th>Movie</th>
						    <th>Release Year</th>
						    <th>overview</th>
						    <th></th>
							</tr>
						<thead>
					<tbody id="myTable">
						<tr th:each = "movie : ${movielist}">
							<td th:text="${movie.title}"></td>
							
							<td class="" th:text="${movie.release_date}"></td>
	<!-- 						<td th:text="${movie.overview}"></td> -->
							
							<td class="bg-warning"><a th:href="@{/details/{id}(id=${movie.id})}"  class="btn btn-outline">details</a></td>
							
							<td><a th:href="@{/addPlaylist/{id}(id=${movie.id})}"  class="btn btn-primary">Add</a></td> 
						</tr>
					</tbody>		
					</table>
					
					</div>
				</div>
			</div>	
	</div>
	
	 
</body>
</html>